main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: lightgray; }

.cuadro {
  width: 300px;
  height: 320px;
  background-color: white;
  border-color: black;
  margin-top: 20px;
  margin-left: 20px;
  color: black;
  border-radius: 10px;
  overflow: hidden; }
  .cuadro :hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 10px gray;
    transition: all 0.5s; }

.nombre {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: black;
  font-family: 'Bebas Neue'; }

.fotoauto {
  width: 100%;
  height: 70%; }

.precio {
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue'; }

.comprar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: initial;
  width: px;
  height: 65px;
  width: 100%;
  border: none;
  background-color: gray;
  font-size: 20px;
  font-family: 'Bebas Neue';
  cursor: pointer; }

.cajas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px; }

.caja-1 {
  width: 200px;
  height: 50px;
  background-color: #5896aa;
  margin-top: 2%; }

.caja-2 {
  width: 200px;
  height: 50px;
  background-color: #5896aa;
  margin-top: 2%; }

.caja-3 {
  width: 200px;
  height: 50px;
  background-color: #5896aa;
  margin-top: 2%; }

.caja-4 {
  width: 200px;
  height: 50px;
  background-color: #5896aa;
  margin-top: 2%; }

.publi-1, .publi-2, .publi-3, .publi-4 {
  background-color: lightblue;
  text-align: center;
  margin-top: 20%; }

.texto1 {
  color: #0a7469;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 5%; }

.texto2 {
  color: #022b27;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 5%; }

.animate__animated {
  margin-left: 5%; }

.logo1 {
  padding-top: 10px;
  color: #4BC6B9;
  text-transform: lowercase;
  font-family: cursive;
  font-size: 25px; }

@media only screen and (max-width: 768px) {
  /*////////mediaquery//////*/
  .navBar, .searchContainer, .RegisButton, .logInButton {
    visibility: hidden; }
  header {
    background-color: black;
    flex-direction: column; }
  .containerFooter {
    flex-direction: column; }
  main {
    flex-direction: column; }
  .cuadro {
    width: 400px;
    height: 320px;
    background-color: white;
    border-color: black;
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    border-radius: 10px;
    overflow: hidden; }
    .cuadro :hover {
      transform: scale(1.1);
      box-shadow: 0 0 15px 10px gray;
      transition: all 0.5s; }
  .nombre {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: black;
    font-family: 'Bebas Neue'; }
  .fotoauto {
    width: 100%;
    height: 70%; }
  .precio {
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue'; }
  .comprar {
    width: 100%; } }
